@font-face {
  font-family: 'Molle';
  src: url('../fonts/Molle/Molle-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'UnifrakturMaguntia';
  src: url('../fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Bungee Shade';
  src: url('../fonts/Bungee_Shade/BungeeShade-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Coiny';
  src: url('../fonts/Coiny/Coiny-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Metamorphous';
  src: url('../fonts/Metamorphous/Metamorphous-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fascinate';
  src: url('../fonts/Fascinate/Fascinate-Regular.ttf') format('truetype');
}

:root {
  --cloakroom-black: rgba(45,46,49,1);
  --cloakroom-gold: rgba(236, 204, 45);
}

 * {
  box-sizing: border-box;
}